doctype html

html
    include head.pug
    link(rel='stylesheet' href='menuStyle.css' type='text/css')

    body
        div(style="text-align:center;")
            h1(style="font-size:7vw;") NodeJS PWA App Template
            br
            h3(style="font-size:4vw;") Menu
            a(href="#" style="width:35%;font-size:3vw;") Link 3
            br
            br
            a(href="#" style="width:35%;font-size:3vw;") Link 3
            br
            br
            a(href="#" style="width:35%;font-size:3vw;") Link 3
            br
            br
            a(href="#" style="width:35%;font-size:3vw;") Link 3
            br
            br
            a(href="#" style="width:35%;font-size:3vw;") Link 3
            br
            br
            a(href="/logout" style="width:35%;font-size:3vw;") Log Out