doctype html
html
    include head.pug
    body(style="background-image: url('../images/plant.jpg'); background-size:cover; background-position:center;")
        div(style="width:300px;padding: 70px 0 25px 0;margin: 0 auto;")
            img(src="../images/logo.jpg" style="width:100%;")
            br
            h5(style="text-align:center;") App Name
            form(action="/login" method="POST")
                div
                    div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
                        input(class="mdl-textfield__input" type="text" id="username" name="username" tabindex="1" value="")
                        label(class="mdl-textfield__label" for="username") Username
                    div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
                        input(class="mdl-textfield__input" type="password" id="password" name="password" tabindex="2" value="")
                        label(class="mdl-textfield__label" for="password") Password
                if message
                    p(style="color:red;font-size:1.75vw;") #{message}
                div
                    input(type="submit" style="margin: 0 35%;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Sign In")
        div(style="text-align:center;")
            a(href="/register.html") Register New Account
                
